<ion-app>
  <ion-router-outlet [swipeGesture]="false"></ion-router-outlet>
</ion-app>


<!-- Sidemenu -->

<!-- <ion-app>
    <ion-split-pane>
      <ion-menu side="end" menuId="custom" class="my-custom-menu" swipeGesture="false">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list lines="none">
            <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
        <ion-footer>
          <ion-list lines="none">
            <ion-menu-toggle auto-hide="true">
              <ion-item (click)="logout()" [routerDirection]="'root'" [routerLink]="">
                <ion-icon slot="start" name="log-out"></ion-icon>
                <ion-label>
                  Logout
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>          
        </ion-footer>
      </ion-menu>
      <ion-router-outlet [swipeGesture]="false" main></ion-router-outlet>
    </ion-split-pane>
  </ion-app> -->
