ion-item-divider {
    --ion-item-border-color: #f9f9f9;
    --background: transparent;
}

ion-radio-group ion-item {
    --ion-item-border-color: #f9f9f9;
}

// .text-wrap {
//     width: auto;
// }

.error-messages {
    font-size: 0.7em;
    color: red;
    text-align: center;
}
